@font-face {
    font-family: 'Acme';
    src: url('./font/Acme-Regular.ttf');
  }
  @font-face {
    font-family: 'Sofia';
    src: url('./font/Sofia-Regular.ttf');
  }
*{
    list-style: none;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    position: relative;
    background-color: rgb(41, 43, 114);
    top: 0;
    height: 49px;
}
.container{
    width: 95%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    top: 0;
    height: 49px;
}
.navbar-container{
    color: blanchedalmond;
    letter-spacing: 0.5px;
    width: 33%;
}
.navbar-container h3{
    font-family: 'Sofia';
}

.navbar nav{
    background-color: #333;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
}

ul{
    display: flex;
    justify-content: flex-end;
    width: 33%;
}
li{
    margin-left: 10px;
}
.navbar a{
    transition:all  0.3s ease-in;
    justify-content: center;
    color: #f2f2f2;
    text-decoration: none;
}



.image-container img{
    height: 37px;
    width: 40px;
    padding:10px;
}
.navbar a:hover {
    color: aqua;
}
.bg-image{
    background-image: url("background.jpg");
    background-size: cover;  
    background-position: right top;
    background-attachment: fixed;
    height:calc(100vh - 67px);
    width:100%;
}
.konten {
    position: absolute;
    }
h1{
    color: blanchedalmond;
    letter-spacing: 0.5px;
    font-family: 'Acme';
    text-align: center;
    width: 33%;
}
button{
    padding: 10px;
}
footer{
    position: relative;
    text-align: center;
}