@font-face {
    font-family: 'Acme';
    src: url('../font/Acme-Regular.ttf');
  }
  @font-face {
    font-family: 'Sofia';
    src: url('../font/Sofia-Regular.ttf');
  }
  @font-face {
    font-family: 'PoppinsR';
    src: url('../font/Poppins-Regular.ttf');
  }
  @font-face {
    font-family: 'PoppinsM';
    src: url('../font/Poppins-Medium.ttf ');
  }
  
body{
  overflow-x: hidden;
}

*{
  list-style: none;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  position: relative;
  background-color: rgb(41, 43, 114);
  top: 0;
  height: 49px;
}
.container{
  width: 95%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  top: 0;
  height: 49px;
}
.navbar-container{
  color: blanchedalmond;
  letter-spacing: 0.5px;
  width: 33%;
}
.navbar-container h3{
  font-family: 'Sofia';
}

.navbar nav{
  background-color: #333;
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
}

h1{
  color: blanchedalmond;
  letter-spacing: 0.5px;
  font-family: 'Acme';
  text-align: center;
  width: 33%;
}


ul{
  display: flex;
  justify-content: flex-end;
  width: 33%;
}
li{
  margin-left: 10px;
}
.navbar a{
  transition:all  0.3s ease-in;
  color: blanchedalmond;
  justify-content: center;
  text-decoration: none;
}

.image-container img{
  height: 37px;
  width: 40px;
  padding:10px;
}
.navbar a:hover {
  color: aqua;
}

.bg-image1{
  background-image: url("../image/bg\ portofolio.jpg");
  background-size: cover;  
  background-position: right top;
  position: absolute;
  height:calc(100vh - 190px);
  width:100%;
}
.bg-image2{
  display: flex;
  justify-content: flex-end;
  background-image: url("../image/bg\ portofolio2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  width: 1000px;
  height: 610px;
  left: -50%;
  background-position: bottom;
}
.bg-image2-container{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  left: 50%;
}